{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Edit Review</h3>

    <div class="row">
        <div class="col s12 m6 m3">
            
            {% for review in reviews %}
            <div class="col s12 m4">
                <div class="card">

                    <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <strong>{{ review.movie_name }}</strong>
                    </div>

                    <div class="card-content">
                        <strong>{{ review.reviewer_name }}</strong>
                        <p>{{ review.review_description }}</p>
                    </div>

                    <div class="card-action">
                    <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn-small green light-3">Done</a>
                    <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn-small light-yellow lighten-4">Edit</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> 

<!---->

{% endblock %}








