{% extends "base.html" %}
{% block content %}

    <div class="row">
    {% for review in reviews %}
    <div class="col s12 m2">
      <div class="card">

        <div class="card-image">
          <img src="images/sample-1.jpg">
          <strong>{{ review.movie_name }}</strong>
        </div>

        <div class="card-content">
            <strong>{{ review.reviewer_name }}</strong><!--<span class="card-title">Card Title</span>-->
            <p>{{ review.movie_review }}</p>
          <!-- <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p> -->
        </div>

        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
<!---->
    <ul class="collapsible"> 
        {% for review in reviews %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ review.movie_name }}</strong> 
            </div>

            <div class="collapsible-body">
                <strong>{{ review.reviewer_name }}</strong>
                <p>{{ review.movie_review }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}








